* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Open sans, sans-serif;
}
.header {
    width:100%;
    background-color: #9b59b6;
    text-align: center;
    transition: all ease 0.5s;
}
.header ul li {
    display:inline-block;
}
.header ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding:25px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all ease 0.5s;
}
.header ul li a:hover {
    background: #000000;
}
.section {
    padding: 400px 0;
    width: 100%;
}
.color1 {
    background-color: hsl(228, 26%, 19%);
}
.color2 {
    background-color: #55efc4;
}
.color3 {
    background-color: #a29bfe;
}
.sticky {
    position: fixed;
    background-color: #34499e;
    top:0;
    left:0;
    width:100%;
}
.header .sticky ul li  a {
    padding: 10px 25px;
    font-size: 14px;
}