* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #030710;
  }
  .container {
    width: 340px;
    height: 420px;
    padding: 2rem;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background-color: #f8f9fd;
  }
  .bg-circles div {
    aspect-ratio: 1/1;
    background-color: rgb(253, 23, 19);
    border-radius: 50%;
    position: absolute;
  }
  #circle-1 {
      width: 70%;
      left: -20%;
      top: -35%;
      opacity: 0.5;
    }
  
  #circle-2 {
      width: 120%;
      left: -20%;
      top: -80%;
      opacity: 0.4;
    animation: breathing 2s ease-in-out infinite;;

    }
  #circle-3 {
     width: 120%;
      left: 20%;
      top: -80%;
      opacity: 0.4;
  }
  #title {
    margin-top: 35%;
    text-align: center;
    font-size: 1.6rem;
    color: #1b1b1b;
    animation: breathing 1.5s ease-in-out infinite;;
  }
  @keyframes breathing {
    0%,
    100% {
      -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
    25%{
      -web-kit-tranform: scale(1);
      -ms-tranform: scale(1);
      transform: scale(1);
    }
    60% {
      -webkit-transform: scale(0.9);
      -ms-tranform: scale(0.9);
      transform: scale(0.9);
    }
  }
  
  .conf-text {
    margin-top: 1.5rem;
    line-height: 130%;
    text-align: center;
    color: #606060;
  }
  #btn-continue {
    width: 100%;
    height: 2.5rem;
    margin-top: 3rem;
    font-size: 1.2rem;
    color: #fff;
    border: none;
    border-radius: 8px;
    transition: 0.5s;
    background-color: rgb(255, 36, 72);
    box-shadow: 0 5px 20px rgba(253, 19, 58, 0.25);
  }
  #btn-continue:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }